.ext-program-wrapper,
.ext-program-preview-wrapper {
	box-sizing: border-box; 
	display: inline-block;
	vertical-align: top;
}
.ext-program-wrapper {
	padding-right: 2rem;
	position: relative;
	width: 66%;
}
.mobile-help-text {
	display: none;
}
.ext-preview-stopper {
	background-color: transparent;
	bottom: 0;
	margin: 0;
	position: absolute;
	width: 100%;
}
.ext-program-preview-wrapper {
	width: 33%;
}
.ext-program-description {
	display: block;
	padding: 1rem 0 1rem 1rem;
}
.ext-program-description img {
	margin-top: 0.5rem;
}

@media only screen and (max-width: 693px) {
	.ext-program-wrapper,
	.ext-program-preview-wrapper {
		padding: 0;
		width: 100%;
	}
	.desktop-help-text,
	#ext-program-preview {
		display: none;
	}
	.mobile-help-text {
		display: block;
	}
}