#cahnrs-map-canvas {
	height: 470px;
	margin: -2rem 0 1rem -2rem;
	width: 100%;
}
#cahnrs-map-canvas img {
	max-width: none;
}
#map-locations-container {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	left: 3.5rem;
	padding: 4px;
	position: absolute;
	top: 1.5rem;
}
#map-toggle-locations {
	background: url(../images/map-hamburger.png);
	cursor: pointer;
	display: block;
	height: 21px;
	width: 21px;
}
.opened #map-toggle-locations {
	background: url(../images/map-close.png) center center no-repeat;
	border-top: 1px solid #e5e5e5;
	bottom: 0;
	height: 12px;
	left: 0;
	position: absolute;
	width: 100%;
}
#map-locations {
	display: none;
}
.opened #map-locations {
	display: block;
	padding: 10px 10px 22px 10px;
}

@media only screen and (max-width: 693px) {

	#cahnrs-map-canvas {
		margin: -1rem 0 1rem -1rem;
	}

	#map-locations-container {
		left: 5.5rem;
	}

}