#cahnrs-map-canvas {
	height: 470px;
	margin: -2rem 0 1rem -2rem;
	width: 100%;
}
#cahnrs-map-canvas img {
	max-width: none;
}

@media only screen and (max-width: 693px) {

	#cahnrs-map-canvas {
		margin: -1rem 0 1rem -1rem;
	}

}